@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme {
  --color-primary-50: var(--color-purple-50);
  --color-primary-100: var(--color-purple-100);
  --color-primary-200: var(--color-purple-200);
  --color-primary-300: var(--color-purple-300);
  --color-primary-400: var(--color-purple-400);
  --color-primary: var(--color-purple-500); /* Base shade for 'text-primary' */
  --color-primary-600: var(--color-purple-600);
  --color-primary-700: var(--color-purple-700);
  --color-primary-800: var(--color-purple-800);
  --color-primary-900: var(--color-purple-900);
  --color-primary-950: var(--color-purple-950);
}
